#tabellaVoti {
  padding:20px;
}

#tabellaVoti .rigaMateria {
  clear:both;
  margin:0 0 30px 0;
  overflow:hidden;
}

#tabellaVoti .rigaMateria .nomeMateria {
  float:left;
  margin:5px;
  font-weight:bold;
  width:150px;
}

#tabellaVoti .rigaMateria .graficoMateria {
  display:block;
}

#tabellaVoti .rigaMateria .bloccoVoti {
  float:left;
  background-image:url('chrome-extension://__MSG_@@extension_id__/img/pixelNero.png');
  background-size:2px 2px;
  background-repeat:repeat-x;
  background-position:center;
  padding:0 28px;
  margin-top:8px;
  width:900px;
}

#tabellaVoti .rigaMateria .voto {
  width:20px;
  float:left;
  padding:2px;
  /*margin:3px 50px;*/
  margin-top:3px;
  margin-bottom:3px;
  background-color:white;
  border-radius:5px;
  border:2px solid #ddd;
  cursor:default;
  text-align:center;
}

#tabellaVoti .voto .infoVoto {
  display:none;
  position:absolute;
}

#tabellaVoti .voto:hover .infoVoto {
  display:block;
  background-color:black;
  color:white;
  margin:-80px 0 0 -55px;
  border:1px solid green;
  width:120px;
  height:40px;
  padding:5px;
  border-radius:10px;
  font-size:14px;
}

.votiEGrafico {
  float:left;
}
